body {
  margin-top: 10px;
  background: #B6F0DC;
}
.menu {
  margin-bottom: 10px;
  background: #79CDCF;
}
.ui.menu {
  background: rgb(197, 237, 238);
  margin-bottom: 10px;
  height: 30px;
}
#logo {
  width: 145px;
  display: flex;
  justify-content: center;
  font-family: 'Special Elite', sans-serif;
  font-weight: 550;
  font-size: 20px;
  line-height: 32px;
}
.ui.secondary.menu {
  margin: 41px 0 10px;
  background: #B6F0DC;
  border-right: 0.5px solid rgba(95, 158, 160, 0.31);
  display: flex;
  flex-direction: column;
  width: 145px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}  
.ui.menu .item {
  background: #79CDCF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ui.top.left.popup .span-text {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.ui.four.cards {
  margin-top: 50px;
  margin-left: 130px!important;
  font-family: 'Lato', sans-serif;
  font-weight: 450;
  font-size: 11px;
}
.ui.star.rating .active.icon, .ui.star.rating .icon:before, .ui.star.rating .icon {
  outline: none;
}
.check-cart-icon.hidden {
  color: rgb(3, 200, 3)
}
.cart-botom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ui.pagination.menu {
  margin: 10px 0 10px 47%;
}
img.ui.avatar {
  position: absolute;
  bottom: 1%;
  left: 50%;
  margin-left: -13px;
  cursor: pointer;
}
img.ui.large.image.third-card-img {
  display: none;
  position: absolute;
  top: 0;
}
img.ui.medium.avatar.image.third-card-avatar:hover ~ img.ui.large.image.third-card-img, img.ui.medium.avatar.image.third-card-avatar:focus ~ img.ui.large.image.third-card-img {
  display: block;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
img.ui.large.image.third-card-img:hover {
  display: block;
  cursor: pointer;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ui.menu .item>.input {
  width: 118px;
}
#modal-root {
  position: relative;
  z-index: 999;
}
.ui.vertical.animated.button .visible.content {
  color: rgb(72, 209, 204);
}
.ui.bottom.right.popup.transition.visible {
  width: 400px;
}
.ui.bottom.left.popup:before {
  left: 50%;
  margin-left: -15px;
}
.ui.button {
  background: none;
  color: black;
}
.ui.button:not(.icon)>.icon:not(.button):not(.dropdown), .ui.button>.icon:not(.button), i.icon {
  margin: 0;
}
.ui.button:hover, .ui.button:active, .ui.button:focus  {
  background: #79CDCF;
}
.ui.card .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popCart {
  overflow-y: scroll;
  max-height: 300px;
}
div.left.menu  {
  background: transparent;
}
.ui.card>.extra, .ui.cards>.card>.extra {
  border-bottom: 1px solid rgba(0,0,0,.05)!important;;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.divka {
  width: 70%;
  height: 60%;
  background: #d5d5c7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divulka {
  background: #01914c;
  width: 400px;
  height: 250px;
  text-align: center;
}